<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="border-top">
      <div class="card-body">
        <div class="space"></div>
        <h3><u>Importation des fichiers</u></h3>
        <br />
        <!-- <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="form-group">
            <label for="ccclient">Importer le fichier CCClient</label>
            <input
              type="file"
              class="form-control-file"
              id="ccclient"
              (change)="uploadFileccclient($event)"
            />
          </div>

          <div class="form-group">
            <label for="cepc">Importer le fichier CEPC</label>
            <input
              type="file"
              class="form-control-file"
              id="cepc"
              (change)="uploadFilecepc($event)"
            />
          </div>
          <div class="form-group">
            <label for="tcurr">Importer le fichier TCuur</label>
            <input
              type="file"
              class="form-control-file"
              id="tcurr"
              (change)="uploadFiletcurr($event)"
            />
          </div>
          <input
            type="submit"
            class="btn btn-primary"
            style="width: 200px; margin-top: 20px"
            value="upload files"
          />
        </form> -->
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container p-5">
    <!-- <div class="row"> -->
    <!-- <div class="col-lg-5 mx-auto"> -->
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="row">
        <div class="p-5 bg-white shadow rounded-lg" style="width: 30%">
          <img
            src="https://res.cloudinary.com/mhmd/image/upload/v1557366994/img_epm3iz.png"
            alt=""
            width="200"
            class="d-block mx-auto mb-4 rounded-pill"
          />
          <h6 class="text-center mb-4 text-muted">Importer fichier CCCLIENT</h6>
          <div class="form-group">
            <label for="ccclient">Importer le fichier CCClient</label>
            <input
              type="file"
              class="form-control-file"
              id="ccclient"
              (change)="uploadFileccclient($event)"
            />
          </div>
        </div>

        &nbsp;&nbsp;&nbsp;
        <div class="p-5 bg-white shadow rounded-lg" style="width: 30%">
          <img
            src="https://res.cloudinary.com/mhmd/image/upload/v1557366994/img_epm3iz.png"
            alt=""
            width="200"
            class="d-block mx-auto mb-4 rounded-pill"
          />

          <!-- Default bootstrap file upload-->

          <h6 class="text-center mb-4 text-muted">Importer fichier CEPC</h6>

          <div class="form-group">
            <label for="cepc">Importer le fichier CEPC</label>
            <input
              type="file"
              class="form-control-file"
              id="cepc"
              (change)="uploadFilecepc($event)"
            />
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="p-5 bg-white shadow rounded-lg" style="width: 30%">
          <img
            src="https://res.cloudinary.com/mhmd/image/upload/v1557366994/img_epm3iz.png"
            alt=""
            width="200"
            class="d-block mx-auto mb-4 rounded-pill"
          />

          <h6 class="text-center mb-4 text-muted">Importer fichier TCURR</h6>

          <div class="form-group">
            <label for="tcurr">Importer le fichier TCuur</label>
            <input
              type="file"
              class="form-control-file"
              id="tcurr"
              (change)="uploadFiletcurr($event)"
            />
          </div>
        </div>
      </div>

      <input
        type="submit"
        class="btn btn-primary"
        style="width: 200px; margin-top: 20px"
        value="upload files"
      />
    </form>
    <!-- </div> -->
  </div>
  <!-- </div> -->
</section>
